/generator/css/icons.css
/generator/img/*.png
/generator/img/*.svg
/generator/img/license.txt
/generator/js/*.d.ts
/generator/js/*.map
/generator/js/icons.js
/node_modules/
/package-lock.json
/temp.zip
/temp/
