
<template id="card-bullet">
    <style>
        :host {

        }

        ul {
            color: black;
            font-size: inherit;
            color: black;
            padding: 0;
            padding-left: 0px;
            margin: 0;
        }

        li {
            margin-bottom: 0;
            margin-top: 0;
            font-size: inherit;
            list-style-position: inside;
        }

        ::content {

        }
    </style>

    <ul>
        <li>
            <content></content>
        </li>
    </ul>
</template>

<script>
    (function (window, document) {
        var elemName = 'card-bullet';
        var mainDoc = document;
        var importDoc = document.currentScript.ownerDocument;

        var proto = Object.create(HTMLUListElement.prototype);
        proto.createdCallback = function () {
            var template = importDoc.getElementById(elemName);
            var clone = mainDoc.importNode(template.content, true);
            var root = this.createShadowRoot();
            root.appendChild(clone);
        }

        mainDoc.registerElement(elemName, { prototype: proto });

    })(window, document);
</script>


