<link href='http://fonts.googleapis.com/css?family=Lora:700' rel='stylesheet' type='text/css'>

<template id="card-title">
    <style>
        :host {
            font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
            font-variant: small-caps;
            font-weight: bold;
            background-color: inherit;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 30px;
        }

        ::content > h1 {
            flex: 1;
            font-size: 13pt;
            font-family: inherit;
            display: block;
            margin: 0;
            padding-left: 6px;
        }

        ::content > h2 {
            font-size: 18pt;
            font-family: inherit;
            display: block;
            margin: 0;
        }

        ::content > card-icon {
            height: 100%;
        }

    </style>

    <content></content>

</template>

<script>
    (function(window, document) {
        var elemName = 'card-title';
        var mainDoc = document;
        var importDoc = document.currentScript.ownerDocument;

        var proto = Object.create(HTMLElement.prototype);
        proto.createdCallback = function () {
            var template = importDoc.getElementById(elemName);
            var clone = mainDoc.importNode(template.content, true);
            var root = this.createShadowRoot();
            root.appendChild(clone);
        }

        mainDoc.registerElement(elemName, { prototype: proto });

    })(window, document);
</script>
