<!DOCTYPE html>
<html lang="en">
<head>
    <title>Component import file</title>
    <link rel="import" href="./card-front.html">
    <link rel="import" href="./card-title.html">
    <link rel="import" href="./card-icon.html">
    <link rel="import" href="./card-contents.html">
    <link rel="import" href="./card-rule.html">
    <link rel="import" href="./card-subtitle.html">
    <link rel="import" href="./card-property.html">
    <link rel="import" href="./card-description.html">
</head>
<body>

</body>
</html>