
<template id="card-subtitle">
    <style>
        :host {
            height: 18px;
            margin: 0;
            font-family: inherit;
            font-size: 10pt;
            font-style: italic;
        }
    </style>

    <content>
    </content>

</template>

<script>
    (function(window, document) {
        var elemName = 'card-subtitle';
        var mainDoc = document;
        var importDoc = document.currentScript.ownerDocument;

        var proto = Object.create(HTMLDivElement.prototype);
        proto.createdCallback = function () {
            var template = importDoc.getElementById(elemName);
            var clone = mainDoc.importNode(template.content, true);
            var root = this.createShadowRoot();
            root.appendChild(clone);
        }

        mainDoc.registerElement(elemName, { prototype: proto });

    })(window, document);
</script>
