<template id="card-vspace">
    <style id="style">
        :host {
            width: 100%;
            flex: 0 1 1em;
        }
    </style>

</template>

<script>
    (function(window, document) {
        var elemName = 'card-vspace';
        var mainDoc = document;
        var importDoc = document.currentScript.ownerDocument;

        var proto = Object.create(HTMLDivElement.prototype);
        Object.defineProperty(proto, "size", {
            get: function() {
                return "";
            },
            set: function (value) {
                this.setAttribute('size', value);

                var root = this.shadowRoot;
                var style = root.getElementById("style");
                style.innerHTML = ":host{width:100%;flex: 0 1 "+value+"}"
            }
        });
        proto.createdCallback = function () {
            var template = importDoc.getElementById(elemName);
            var clone = mainDoc.importNode(template.content, true);
            var root = this.createShadowRoot();
            root.appendChild(clone);

            this.size = this.getAttribute('size') || "1em";
        }
        proto.attributeChangedCallback = function (name, oldValue, newValue) {
            switch (name) {
                case "size": this.size = newValue; break;
            }
        }

        mainDoc.registerElement(elemName, { prototype: proto });

    })(window, document);
</script>
