
<template id="card-description">
    <style>
        :host {
            margin-top: 0px;
            margin-bottom: 0;
            font-size: inherit;
        }

        ::content > * {
            display: inline;
            font-size: inherit;
            color: black;
            margin: 0;
        }

        ::content > h4 {
            font-weight: bold;
            font-size: inherit;
            font-style: italic;
        }

        ::content > h4:after {
            content: ".";
        }

        ::content > h4 + p {
            margin-left: 0.0em;
        }
    </style>

    <content></content>
</template>

<script>
    (function (window, document) {
        var elemName = 'card-description';
        var mainDoc = document;
        var importDoc = document.currentScript.ownerDocument;

        var proto = Object.create(HTMLDivElement.prototype);
        proto.createdCallback = function () {
            var template = importDoc.getElementById(elemName);
            var clone = mainDoc.importNode(template.content, true);
            var root = this.createShadowRoot();
            root.appendChild(clone);
        }

        mainDoc.registerElement(elemName, { prototype: proto });

    })(window, document);
</script>


