.card {
    width:66mm;
    min-width:66mm;
    height:95mm;
    border: 2mm solid;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    font-size: 8pt;
}

.card-content-container {
    padding:2mm;
    padding-top:1mm;
    border-radius: 2mm;
    margin-top:0px;
    background-color: white;
    border-color: inherit;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: inherit;
}

.card-back {
    background-color: white;
    border-radius: 4mm;
    border-color: inherit;
    margin: 2mm;
    flex: 1;
    display: flex;
}

.card-back-inner {
    margin: 2mm;
    border: 1mm solid;
    border-color: inherit;
    border-radius: 4mm;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-back-icon {
    width: 30mm;
    height: 30mm;
    border: 4mm solid;
    border-color: inherit;
    border-radius: 4mm;
    background-repeat: no-repeat;
    background-size: contain;
}

.card-title-icon {
    width: 12mm;
    height: 12mm;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
    border-color: inherit;
}
.card-title-icon-container {
    position: absolute;
    right: -1mm;
    top: -1mm;
    border: 1mm solid;
    border-radius: 1mm;
    background-color: inherit;
    border-color: inherit;
}

.card-title-inlineicon {
    width: 7mm;
    height: 7mm;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: inherit;
    border-color: inherit;
}
.card-title-inlineicon-container {
    position: absolute;
    right: -1mm;
    top: -1mm;
    border: 1mm solid;
    border-radius: 1mm;
    background-color: inherit;
    border-color: inherit;
}

.card-title {
    height: 8mm;
    padding-left: 2mm;
    font-family: Lora, 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-variant: small-caps;
    font-weight: bold;
    background-color: inherit;
    color: white;
}
.card-title-big {
    font-size: 6mm;
    line-height: 6mm;
}
.card-title-normal {
    font-size: 5mm;
    line-height: 6mm;
}
.card-title-small {
    font-size: 4mm;
    line-height: 6.5mm;
}
.card-title-tiny {
    font-size: 3.5mm;
    line-height: 6.75mm;
}

.card-subtitle {
    height: 18px;
    line-height: 18px;
    margin-bottom: 1mm;
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    font-size: 10pt;
    font-style: italic;
}

.card-property-line {
    text-indent: -1em;
    margin-left: 1em;
    font-size: inherit;
    color: black;
}

.card-property-name {
    display: inline;
    font-size: inherit;
}
.card-property-text {
    display: inline;
}

.card-section {
    border-bottom: 1px solid;
    font-size: 10pt;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 0.3em;
    border-color: inherit;
}

.card-p {
    margin-top: 0.0em;
    margin-bottom: 0.5em;
    font-size: inherit;
}

.card-fill {flex:1;}

.card-description-line {
    margin-bottom: 0.5em;
    font-size: inherit;
    color: black;
}
.card-description-name {
    display: inline;
    font-size: inherit;
}
.card-description-text {
    display: inline;
}

.card-ruler {
    width: 100%;
    height: 1.0mm;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.card-bullet-line {
    font-size: inherit;
    color: black;
    padding-left: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.card-bullet {
    margin-bottom: 0;
    margin-top: 0;
    font-size: inherit;
}