.icon-custom-armor-light { background-image: url(../img/leather-vest.svg);}
.icon-custom-armor-medium { background-image: url(../img/lamellar.svg);}
.icon-custom-armor-heavy { background-image: url(../img/breastplate.svg);}
.icon-custom-shield { background-image: url(../img/round-shield.svg);}

.icon-custom-potion { background-image: url(../img/drink-me.svg);}
.icon-custom-light { background-image: url(../img/candle-flame.svg);}
.icon-custom-flask { background-image: url(../img/fizzing-flask.svg);}
.icon-custom-vial { background-image: url(../img/chemical-drop.svg);}
.icon-custom-poison { background-image: url(../img/poison-bottle.svg);}
.icon-custom-trap { background-image: url(../img/wolf-trap.svg);}
.icon-custom-item { background-image: url(../img/knapsack.svg);}
.icon-custom-wand { background-image: url(../img/crystal-wand.svg);}
.icon-custom-swords { background-image: url(../img/crossed-swords.svg);}
.icon-custom-arrows { background-image: url(../img/target-arrows.svg);}
.icon-custom-swordarrow { background-image: url(../img/mixed-swords.svg);}

.icon-custom-spell { background-image: url(../img/white-book.svg);}
.icon-custom-spell-0 { background-image: url(../img/white-book-0.svg);}
.icon-custom-spell-1 { background-image: url(../img/white-book-1.svg);}
.icon-custom-spell-2 { background-image: url(../img/white-book-2.svg);}
.icon-custom-spell-3 { background-image: url(../img/white-book-3.svg);}
.icon-custom-spell-4 { background-image: url(../img/white-book-4.svg);}
.icon-custom-spell-5 { background-image: url(../img/white-book-5.svg);}
.icon-custom-spell-6 { background-image: url(../img/white-book-6.svg);}
.icon-custom-spell-7 { background-image: url(../img/white-book-7.svg);}
.icon-custom-spell-8 { background-image: url(../img/white-book-8.svg);}
.icon-custom-spell-9 { background-image: url(../img/white-book-9.svg);}
.icon-custom-spell-holy { background-image: url(../img/white-book-cd.svg);}
.icon-custom-spell-runes { background-image: url(../img/book-cover.svg);}

.icon-custom-class-arcane { background-image: url(../img/robe.svg);}
.icon-custom-class-cleric { background-image: url(../img/holy-symbol.svg);}
.icon-custom-class-rogue { background-image: url(../img/cloak-dagger.svg);}
