body {
  background: rgb(204,204,204); 
}

page[size="A4"] {
    background: white;
    width: 210mm;
    height: 297mm;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    page-break-after: always;
}

@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
    background-color: white;
  }
}

.input-button {
    display:block;
    height: 40px;
    font-size: 24px;
    width: 100%;
    margin-bottom: 10px;
}

.input-data {
    width: 100%;
}