#preview-container {
    padding: 10px;
    border: 10px gray;
    background-color: white;
    height: 100mm;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.color-input-addon {
    border-right: 0;
    border-radius: 4px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}