#accordion .panel-heading {
    padding: 0;
}

#accordion .panel-heading a {
    padding: 10px 15px;
    display: block;
}

.control-label {
    white-space: nowrap;
}

#preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.color-input-addon {
    border-right: 0;
    border-radius: 4px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.form-group {
    margin-bottom: 10px;
}

.card h4 {
    /* Revert bootstrap style for the card preview */
    font-weight: bold;
}

.form-horizontal {
    margin-top: 10px;
}


.dropdown-menu>li>a {
    padding-left: 35px;
    position: relative;
}

.dropdown-menu a > span {
    position: absolute;
    left: 5px;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    background-size: auto 90%;
    top: 50%;
    margin-top: -12px;
}

#card-actions {
    display: flex;
    flex-wrap: wrap;
}

#card-actions h4 {
    width: 100%;
    margin-bottom: 10px;
}
